<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="include_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="include">
<config key="InclList">
<entry key="array-size" type="xint" value="29"/>
<entry key="0" type="xstring" value="1990"/>
<entry key="1" type="xstring" value="1991"/>
<entry key="2" type="xstring" value="1992"/>
<entry key="3" type="xstring" value="1993"/>
<entry key="4" type="xstring" value="1994"/>
<entry key="5" type="xstring" value="1995"/>
<entry key="6" type="xstring" value="1996"/>
<entry key="7" type="xstring" value="1997"/>
<entry key="8" type="xstring" value="1998"/>
<entry key="9" type="xstring" value="1999"/>
<entry key="10" type="xstring" value="2000"/>
<entry key="11" type="xstring" value="2001"/>
<entry key="12" type="xstring" value="2002"/>
<entry key="13" type="xstring" value="2003"/>
<entry key="14" type="xstring" value="2004"/>
<entry key="15" type="xstring" value="2005"/>
<entry key="16" type="xstring" value="2006"/>
<entry key="17" type="xstring" value="2007"/>
<entry key="18" type="xstring" value="2008"/>
<entry key="19" type="xstring" value="2009"/>
<entry key="20" type="xstring" value="2010"/>
<entry key="21" type="xstring" value="2011"/>
<entry key="22" type="xstring" value="2012"/>
<entry key="23" type="xstring" value="2013"/>
<entry key="24" type="xstring" value="2014"/>
<entry key="25" type="xstring" value="2015"/>
<entry key="26" type="xstring" value="2016"/>
<entry key="27" type="xstring" value="2017"/>
<entry key="28" type="xstring" value="2018"/>
</config>
<config key="ExclList">
<entry key="array-size" type="xint" value="11"/>
<entry key="0" type="xstring" value="category"/>
<entry key="1" type="xstring" value="data_name"/>
<entry key="2" type="xstring" value="data_description"/>
<entry key="3" type="xstring" value="unit"/>
<entry key="4" type="xstring" value="geo_granularity"/>
<entry key="5" type="xstring" value="region"/>
<entry key="6" type="xstring" value="module"/>
<entry key="7" type="xstring" value="data_source"/>
<entry key="8" type="xstring" value="last_update"/>
<entry key="9" type="xstring" value="hypothesis_or_data_filling"/>
<entry key="10" type="xstring" value="comment"/>
</config>
<entry key="keep_all_columns_selected" type="xboolean" value="false"/>
</config>
<entry key="decimal_separator" type="xstring" value="."/>
<entry key="thousands_separator" type="xstring" value=""/>
<config key="parse_type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="generic_parse" type="xboolean" value="false"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.colconvert.stringtonumber.StringToNumberNodeFactory"/>
<entry key="node-name" type="xstring" value="String To Number"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.7.2.v201904170949"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.7.2.v201904171038"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="String To Number"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
