<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter">
<entry key="filter-type" type="xstring" value="name_pattern"/>
<config key="included_names">
<entry key="array-size" type="xint" value="42"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
<entry key="2" type="xstring" value="cal_rate_emissions_CO2-emissions[%]"/>
<entry key="3" type="xstring" value="cal_rate_emissions_CH4-emissions[%]"/>
<entry key="4" type="xstring" value="cal_rate_emissions_N2O-emissions[%]"/>
<entry key="5" type="xstring" value="cal_rate_energy_jetfuel[%]"/>
<entry key="6" type="xstring" value="cal_rate_energy_biodiesel[%]"/>
<entry key="7" type="xstring" value="cal_rate_energy_biogas[%]"/>
<entry key="8" type="xstring" value="cal_rate_energy_bioethanol[%]"/>
<entry key="9" type="xstring" value="cal_rate_energy_elec[%]"/>
<entry key="10" type="xstring" value="cal_rate_energy_diesel[%]"/>
<entry key="11" type="xstring" value="cal_rate_energy_gasoline[%]"/>
<entry key="12" type="xstring" value="cal_rate_energy_gas[%]"/>
<entry key="13" type="xstring" value="cal_rate_activity_road-private[%]"/>
<entry key="14" type="xstring" value="cal_rate_activity_rail-passenger[%]"/>
<entry key="15" type="xstring" value="cal_rate_activity_road-public[%]"/>
<entry key="16" type="xstring" value="cal_rate_activity_aviation[%]"/>
<entry key="17" type="xstring" value="cal_rate_activity_LDV[%]"/>
<entry key="18" type="xstring" value="cal_rate_activity_rail-freight[%]"/>
<entry key="19" type="xstring" value="cal_rate_activity_aviation[%] (#1)"/>
<entry key="20" type="xstring" value="cal_rate_activity_IWW[%]"/>
<entry key="21" type="xstring" value="cal_rate_activity_HDV[%]"/>
<entry key="22" type="xstring" value="cal_tra_energy_jetfuel[TWh]"/>
<entry key="23" type="xstring" value="cal_tra_energy_biodiesel[TWh]"/>
<entry key="24" type="xstring" value="cal_tra_energy_biogas[TWh]"/>
<entry key="25" type="xstring" value="cal_tra_energy_bioethanol[TWh]"/>
<entry key="26" type="xstring" value="cal_tra_energy_elec[TWh]"/>
<entry key="27" type="xstring" value="cal_tra_energy_diesel[TWh]"/>
<entry key="28" type="xstring" value="cal_tra_energy_gasoline[TWh]"/>
<entry key="29" type="xstring" value="cal_tra_energy_gas[TWh]"/>
<entry key="30" type="xstring" value="cal_tra_emissions_CO2-emissions[Mt]"/>
<entry key="31" type="xstring" value="cal_tra_emissions_CH4-emissions[Mt]"/>
<entry key="32" type="xstring" value="cal_tra_emissions_N2O-emissions[Mt]"/>
<entry key="33" type="xstring" value="cal_tra_activity_road-private[Gpkm]"/>
<entry key="34" type="xstring" value="cal_tra_activity_rail[Gpkm]"/>
<entry key="35" type="xstring" value="cal_tra_activity_road-public[Gpkm]"/>
<entry key="36" type="xstring" value="cal_tra_activity_aviation[Gpkm]"/>
<entry key="37" type="xstring" value="cal_tra_activity_LDV[Gtkm]"/>
<entry key="38" type="xstring" value="cal_tra_activity_rail[Gtkm]"/>
<entry key="39" type="xstring" value="cal_tra_activity_aviation[Gtkm]"/>
<entry key="40" type="xstring" value="cal_tra_activity_IWW[Gtkm]"/>
<entry key="41" type="xstring" value="cal_tra_activity_HDV[Gtkm]"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value="Country|Years|cal_rate.*"/>
<entry key="type" type="xstring" value="Regex"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.7.2.v201904170949"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.7.2.v201904171038"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
