<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="selection">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="db_table_cube_output_loop"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="382"/>
<entry key="0" type="xstring" value="Row0"/>
<entry key="1" type="xstring" value="groupIdentifier"/>
<entry key="2" type="xstring" value="table"/>
<entry key="3" type="xstring" value="currentIteration"/>
<entry key="4" type="xstring" value="db_schema"/>
<entry key="5" type="xstring" value="db_table_cube_output"/>
<entry key="6" type="xstring" value="db_table_output"/>
<entry key="7" type="xstring" value="db_port"/>
<entry key="8" type="xstring" value="db_host"/>
<entry key="9" type="xstring" value="test_mode"/>
<entry key="10" type="xstring" value="country_filter"/>
<entry key="11" type="xstring" value="disable_graphics"/>
<entry key="12" type="xstring" value="module"/>
<entry key="13" type="xstring" value="baseyear"/>
<entry key="14" type="xstring" value="knime.workspace"/>
<entry key="15" type="xstring" value="lever_pkm"/>
<entry key="16" type="xstring" value="lever_passenger_modal-share"/>
<entry key="17" type="xstring" value="lever_passenger_occupancy"/>
<entry key="18" type="xstring" value="lever_passenger_utilization-rate"/>
<entry key="19" type="xstring" value="lever_floor-intensity"/>
<entry key="20" type="xstring" value="lever_heatcool-behaviour"/>
<entry key="21" type="xstring" value="lever_appliance-use"/>
<entry key="22" type="xstring" value="lever_lighting"/>
<entry key="23" type="xstring" value="lever_urbpop"/>
<entry key="24" type="xstring" value="lever_kcal-req"/>
<entry key="25" type="xstring" value="lever_diet"/>
<entry key="26" type="xstring" value="lever_paperpack"/>
<entry key="27" type="xstring" value="lever_1"/>
<entry key="28" type="xstring" value="lever_fwaste"/>
<entry key="29" type="xstring" value="lever_datause"/>
<entry key="30" type="xstring" value="lever_appliance-own"/>
<entry key="31" type="xstring" value="lever_freight_tkm"/>
<entry key="32" type="xstring" value="lever_passenger_veh-efficiency_new"/>
<entry key="33" type="xstring" value="lever_passenger_technology-share_new"/>
<entry key="34" type="xstring" value="lever_freight_vehicle-efficiency_new"/>
<entry key="35" type="xstring" value="lever_freight_technology-share_new"/>
<entry key="36" type="xstring" value="lever_freight_modal-share"/>
<entry key="37" type="xstring" value="lever_freight_load-factor"/>
<entry key="38" type="xstring" value="lever_freight_utilization-rate"/>
<entry key="39" type="xstring" value="lever_building-insulation"/>
<entry key="40" type="xstring" value="lever_district-heating-share"/>
<entry key="41" type="xstring" value="lever_heatcool-technology-fuel"/>
<entry key="42" type="xstring" value="lever_heatcool-efficiency"/>
<entry key="43" type="xstring" value="lever_appliance-efficiency"/>
<entry key="44" type="xstring" value="lever_material-intensity"/>
<entry key="45" type="xstring" value="lever_material-switch"/>
<entry key="46" type="xstring" value="lever_technology-share"/>
<entry key="47" type="xstring" value="lever_technology-development"/>
<entry key="48" type="xstring" value="lever_energy-carrier-mix"/>
<entry key="49" type="xstring" value="lever_ccs"/>
<entry key="50" type="xstring" value="lever_capacity_fossil"/>
<entry key="51" type="xstring" value="lever_capacity_nuclear"/>
<entry key="52" type="xstring" value="lever_capacity_RES_wind"/>
<entry key="53" type="xstring" value="lever_capacity_RES_solar"/>
<entry key="54" type="xstring" value="lever_2"/>
<entry key="55" type="xstring" value="lever_capacity_RES_other"/>
<entry key="56" type="xstring" value="lever_bal-strat"/>
<entry key="57" type="xstring" value="lever_climate-smart-crop"/>
<entry key="58" type="xstring" value="lever_climate-smart-fisheries"/>
<entry key="59" type="xstring" value="lever_fst-practices"/>
<entry key="60" type="xstring" value="lever_alt-protein"/>
<entry key="61" type="xstring" value="lever_biomass-hierarchy"/>
<entry key="62" type="xstring" value="lever_min-practices"/>
<entry key="63" type="xstring" value="lever_land-man"/>
<entry key="64" type="xstring" value="lever_climate-smart-livestock"/>
<entry key="65" type="xstring" value="lever_3"/>
<entry key="66" type="xstring" value="lever_pop"/>
<entry key="67" type="xstring" value="lever_household-size"/>
<entry key="68" type="xstring" value="lever_food-net-import"/>
<entry key="69" type="xstring" value="lever_product-net-import"/>
<entry key="70" type="xstring" value="lever_material-net-import"/>
<entry key="71" type="xstring" value="lever_7"/>
<entry key="72" type="xstring" value="lever_8"/>
<entry key="73" type="xstring" value="lever_water-man"/>
<entry key="74" type="xstring" value="lever_biodiversity"/>
<entry key="75" type="xstring" value="RowID"/>
<entry key="76" type="xstring" value="name"/>
<entry key="77" type="xstring" value="mod_tri"/>
<entry key="78" type="xstring" value="CO2-emissionfactor_unit[Gt/EJ]"/>
<entry key="79" type="xstring" value="CO2-emissionfactor_HDV_ICE-diesel[Gt/EJ]"/>
<entry key="80" type="xstring" value="CO2-emissionfactor_HDV_ICE-gasoline[Gt/EJ]"/>
<entry key="81" type="xstring" value="CO2-emissionfactor_HDV_ICE-gas[Gt/EJ]"/>
<entry key="82" type="xstring" value="CO2-emissionfactor_HDV_PHEV-diesel[Gt/EJ]"/>
<entry key="83" type="xstring" value="CO2-emissionfactor_HDV_PHEV-gasoline[Gt/EJ]"/>
<entry key="84" type="xstring" value="CO2-emissionfactor_HDV_CEV[Gt/EJ]"/>
<entry key="85" type="xstring" value="CO2-emissionfactor_HDV_FCEV[Gt/EJ]"/>
<entry key="86" type="xstring" value="CO2-emissionfactor_HDV_BEV[Gt/EJ]"/>
<entry key="87" type="xstring" value="CO2-emissionfactor_rail_ICE[Gt/EJ]"/>
<entry key="88" type="xstring" value="CO2-emissionfactor_marine_ICE[Gt/EJ]"/>
<entry key="89" type="xstring" value="CO2-emissionfactor_IWW_ICE[Gt/EJ]"/>
<entry key="90" type="xstring" value="CO2-emissionfactor_aviation_ICE[Gt/EJ]"/>
<entry key="91" type="xstring" value="CO2-emissionfactor_rail_CEV[Gt/EJ]"/>
<entry key="92" type="xstring" value="CO2-emissionfactor_metro-tram[Gt/EJ]"/>
<entry key="93" type="xstring" value="CO2-emissionfactor_rail_FCEV[Gt/EJ]"/>
<entry key="94" type="xstring" value="CO2-emissionfactor_marine_BEV[Gt/EJ]"/>
<entry key="95" type="xstring" value="CO2-emissionfactor_IWW_BEV[Gt/EJ]"/>
<entry key="96" type="xstring" value="CO2-emissionfactor_aviation_BEV[Gt/EJ]"/>
<entry key="97" type="xstring" value="CO2-emissionfactor_marine_FCEV[Gt/EJ]"/>
<entry key="98" type="xstring" value="CO2-emissionfactor_IWW_FCEV[Gt/EJ]"/>
<entry key="99" type="xstring" value="CO2-emissionfactor_LDV_ICE-diesel[Gt/EJ]"/>
<entry key="100" type="xstring" value="CO2-emissionfactor_LDV_ICE-gasoline[Gt/EJ]"/>
<entry key="101" type="xstring" value="CO2-emissionfactor_LDV_ICE-gas[Gt/EJ]"/>
<entry key="102" type="xstring" value="CO2-emissionfactor_LDV_PHEV-diesel[Gt/EJ]"/>
<entry key="103" type="xstring" value="CO2-emissionfactor_LDV_PHEV-gasoline[Gt/EJ]"/>
<entry key="104" type="xstring" value="CO2-emissionfactor_Unnamed: 26[Gt/EJ]"/>
<entry key="105" type="xstring" value="CO2-emissionfactor_LDV_FCEV[Gt/EJ]"/>
<entry key="106" type="xstring" value="CO2-emissionfactor_LDV_BEV[Gt/EJ]"/>
<entry key="107" type="xstring" value="CO2-emissionfactor_2W_ICE-diesel[Gt/EJ]"/>
<entry key="108" type="xstring" value="CO2-emissionfactor_2W_ICE-gasoline[Gt/EJ]"/>
<entry key="109" type="xstring" value="CO2-emissionfactor_2W_ICE-gas[Gt/EJ]"/>
<entry key="110" type="xstring" value="CO2-emissionfactor_2W_PHEV[Gt/EJ]"/>
<entry key="111" type="xstring" value="CO2-emissionfactor_2W_FCEV[Gt/EJ]"/>
<entry key="112" type="xstring" value="CO2-emissionfactor_2W_BEV[Gt/EJ]"/>
<entry key="113" type="xstring" value="CO2-emissionfactor_bus_ICE-diesel[Gt/EJ]"/>
<entry key="114" type="xstring" value="CO2-emissionfactor_bus_ICE-gasoline[Gt/EJ]"/>
<entry key="115" type="xstring" value="CO2-emissionfactor_bus_ICE-gas[Gt/EJ]"/>
<entry key="116" type="xstring" value="CO2-emissionfactor_bus_PHEV[Gt/EJ]"/>
<entry key="117" type="xstring" value="CO2-emissionfactor_bus_FCEV[Gt/EJ]"/>
<entry key="118" type="xstring" value="CO2-emissionfactor_bus_BEV[Gt/EJ]"/>
<entry key="119" type="xstring" value="fertilizer_unit[tons/ha]"/>
<entry key="120" type="xstring" value="fertilizer_unit.1[tons/ha]"/>
<entry key="121" type="xstring" value="fertilizer_fodder[tons/ha]"/>
<entry key="122" type="xstring" value="fertilizer_cereal[tons/ha]"/>
<entry key="123" type="xstring" value="fertilizer_fruits[tons/ha]"/>
<entry key="124" type="xstring" value="fertilizer_barley[tons/ha]"/>
<entry key="125" type="xstring" value="fertilizer_oilcrops[tons/ha]"/>
<entry key="126" type="xstring" value="fertilizer_pulses[tons/ha]"/>
<entry key="127" type="xstring" value="fertilizer_starch[tons/ha]"/>
<entry key="128" type="xstring" value="fertilizer_sugar[tons/ha]"/>
<entry key="129" type="xstring" value="fertilizer_veg[tons/ha]"/>
<entry key="130" type="xstring" value="fertilizer_grazing[tons/ha]"/>
<entry key="131" type="xstring" value="fertilizer_algae[tons/ha]"/>
<entry key="132" type="xstring" value="fertilizer_insect[tons/ha]"/>
<entry key="133" type="xstring" value="fertilizer_grappes[tons/ha]"/>
<entry key="134" type="xstring" value="crop-yield_unit[tons/ha]"/>
<entry key="135" type="xstring" value="crop-yield_fodder[tons/ha]"/>
<entry key="136" type="xstring" value="crop-yield_cereal[tons/ha]"/>
<entry key="137" type="xstring" value="crop-yield_fruits[tons/ha]"/>
<entry key="138" type="xstring" value="crop-yield_barley[tons/ha]"/>
<entry key="139" type="xstring" value="crop-yield_oilcrops[tons/ha]"/>
<entry key="140" type="xstring" value="crop-yield_pulses[tons/ha]"/>
<entry key="141" type="xstring" value="crop-yield_starch[tons/ha]"/>
<entry key="142" type="xstring" value="crop-yield_sugar[tons/ha]"/>
<entry key="143" type="xstring" value="crop-yield_veg[tons/ha]"/>
<entry key="144" type="xstring" value="crop-yield_grazing[tons/ha]"/>
<entry key="145" type="xstring" value="crop-yield_algae[tons/ha]"/>
<entry key="146" type="xstring" value="crop-yield_insect[tons/ha]"/>
<entry key="147" type="xstring" value="crop-yield_grappes[tons/ha]"/>
<entry key="148" type="xstring" value="animal-diet_unit[%]"/>
<entry key="149" type="xstring" value="animal-diet_bov_fodder[%]"/>
<entry key="150" type="xstring" value="animal-diet_bov_oil-meals[%]"/>
<entry key="151" type="xstring" value="animal-diet_bov_cereal-meals[%]"/>
<entry key="152" type="xstring" value="animal-diet_bov_other-meals[%]"/>
<entry key="153" type="xstring" value="animal-diet_bov_grazing[%]"/>
<entry key="154" type="xstring" value="animal-diet_sheep_fodder[%]"/>
<entry key="155" type="xstring" value="animal-diet_sheep_oil-meals[%]"/>
<entry key="156" type="xstring" value="animal-diet_sheep_cereal-meals[%]"/>
<entry key="157" type="xstring" value="animal-diet_sheep_other-meals[%]"/>
<entry key="158" type="xstring" value="animal-diet_sheep_grazing[%]"/>
<entry key="159" type="xstring" value="animal-diet_pigs_fodder[%]"/>
<entry key="160" type="xstring" value="animal-diet_pigs_oil-meals[%]"/>
<entry key="161" type="xstring" value="animal-diet_pigs_cereal-meals[%]"/>
<entry key="162" type="xstring" value="animal-diet_pigs_other-meals[%]"/>
<entry key="163" type="xstring" value="animal-diet_poultry_fodder[%]"/>
<entry key="164" type="xstring" value="animal-diet_poultry_oil-meals[%]"/>
<entry key="165" type="xstring" value="animal-diet_poultry_cereal-meals[%]"/>
<entry key="166" type="xstring" value="animal-diet_poultry_other-meals[%]"/>
<entry key="167" type="xstring" value="animal-diet_oth-animals_fodder[%]"/>
<entry key="168" type="xstring" value="animal-diet_oth-animals_oil-meals[%]"/>
<entry key="169" type="xstring" value="animal-diet_oth-animals_cereal-meals[%]"/>
<entry key="170" type="xstring" value="animal-diet_oth-animals_other-meals[%]"/>
<entry key="171" type="xstring" value="biomass_yields_unit[%]"/>
<entry key="172" type="xstring" value="biomass_yields_timber_residues-supply[%]"/>
<entry key="173" type="xstring" value="biomass_yields_timber_wood-waste-supply[%]"/>
<entry key="174" type="xstring" value="biomass_yields_timber_pulp-supply[%]"/>
<entry key="175" type="xstring" value="biomass_yields_firewood_residues-supply[%]"/>
<entry key="176" type="xstring" value="biomass_yields_pellets_residues-demand[%]"/>
<entry key="177" type="xstring" value="biomass_yields_pellets_wood-wastes-demand[%]"/>
<entry key="178" type="xstring" value="biomass_yields_biodiesel_techno1[%]"/>
<entry key="179" type="xstring" value="biomass_yields_biodiesel_techno2[%]"/>
<entry key="180" type="xstring" value="biomass_yields_jetfuel_techno3[%]"/>
<entry key="181" type="xstring" value="biomass_yields_jetfuel_techno4[%]"/>
<entry key="182" type="xstring" value="biomass_yields_ethanol_techno5[%]"/>
<entry key="183" type="xstring" value="biomass_yields_ethanol_techno6[%]"/>
<entry key="184" type="xstring" value="biomaterial_yields_unit[%]"/>
<entry key="185" type="xstring" value="biomaterial_yields_timber_residues-supply[%]"/>
<entry key="186" type="xstring" value="biomaterial_yields_timber_wood-waste-supply[%]"/>
<entry key="187" type="xstring" value="biomaterial_yields_timber_pulp-supply[%]"/>
<entry key="188" type="xstring" value="biomaterial_yields_firewood_residues-supply[%]"/>
<entry key="189" type="xstring" value="biomaterial_yields_pellets_residues-demand[%]"/>
<entry key="190" type="xstring" value="biomaterial_yields_pellets_wood-wastes-demand[%]"/>
<entry key="191" type="xstring" value="meals-yield_unit[%]"/>
<entry key="192" type="xstring" value="meals-yield_algae-crop[%]"/>
<entry key="193" type="xstring" value="meals-yield_algae-voil[%]"/>
<entry key="194" type="xstring" value="meals-yield_insect-crop[%]"/>
<entry key="195" type="xstring" value="meals-yield_insect-oil[%]"/>
<entry key="196" type="xstring" value="meals-yield_insect-manure[%]"/>
<entry key="197" type="xstring" value="meals-yield_cereal-crop[%]"/>
<entry key="198" type="xstring" value="meals-yield_oilcrops-crop[%]"/>
<entry key="199" type="xstring" value="meals-yield_cereal-ethanol[%]"/>
<entry key="200" type="xstring" value="meals-yield_oilcrops-voil[%]"/>
<entry key="201" type="xstring" value="bioenergy_yields_unit[%]"/>
<entry key="202" type="xstring" value="bioenergy_yields_techno1_voil-demand[%]"/>
<entry key="203" type="xstring" value="bioenergy_yields_techno2_celluosic-demand[%]"/>
<entry key="204" type="xstring" value="bioenergy_yields_techno3_voil-demand[%]"/>
<entry key="205" type="xstring" value="bioenergy_yields_techno4_celluosic-demand[%]"/>
<entry key="206" type="xstring" value="bioenergy_yields_techno5_sugar-demand[%]"/>
<entry key="207" type="xstring" value="bioenergy_yields_techno5_cereals-demand[%]"/>
<entry key="208" type="xstring" value="bioenergy_yields_techno6_cellulosic-demand[%]"/>
<entry key="209" type="xstring" value="bioenergy_mix_unit[%]"/>
<entry key="210" type="xstring" value="bioenergy_mix_biodiesel_techno1[%]"/>
<entry key="211" type="xstring" value="bioenergy_mix_biodiesel_techno2[%]"/>
<entry key="212" type="xstring" value="bioenergy_mix_jetfuel_techno3[%]"/>
<entry key="213" type="xstring" value="bioenergy_mix_jetfuel_techno4[%]"/>
<entry key="214" type="xstring" value="bioenergy_mix_ethanol_techno5[%]"/>
<entry key="215" type="xstring" value="bioenergy_mix_ethanol_techno6[%]"/>
<entry key="216" type="xstring" value="bioenergy_mix_pellets_crops[%]"/>
<entry key="217" type="xstring" value="bioenergy_mix_pellets_wood[%]"/>
<entry key="218" type="xstring" value="residues_yields_unit[%]"/>
<entry key="219" type="xstring" value="residues_yields_cereal[%]"/>
<entry key="220" type="xstring" value="residues_yields_oilcrops[%]"/>
<entry key="221" type="xstring" value="biomass_mix_unit[%]"/>
<entry key="222" type="xstring" value="biomass_mix_solid_firewood_bld[%]"/>
<entry key="223" type="xstring" value="biomass_mix_solid_pellets_bld[%]"/>
<entry key="224" type="xstring" value="biomass_mix_solid_firewood_ind[%]"/>
<entry key="225" type="xstring" value="biomass_mix_solid_pellets_ind[%]"/>
<entry key="226" type="xstring" value="biomass_mix_solid_timber_ind[%]"/>
<entry key="227" type="xstring" value="biomass_mix_solid_fiber_ind[%]"/>
<entry key="228" type="xstring" value="biomass_mix_solid_pulp_ind[%]"/>
<entry key="229" type="xstring" value="biomass_mix_liquid_ethanol_ind[%]"/>
<entry key="230" type="xstring" value="biomass_mix_liquid_voil_ind[%]"/>
<entry key="231" type="xstring" value="biorefinery_bp_unit[tons/tons]"/>
<entry key="232" type="xstring" value="biorefinery_bp_biomass_algae[tons/tons]"/>
<entry key="233" type="xstring" value="biorefinery_bp_oil_algae[tons/tons]"/>
<entry key="234" type="xstring" value="biorefinery_bp_biomass_insect[tons/tons]"/>
<entry key="235" type="xstring" value="biorefinery_bp_oil_insect[tons/tons]"/>
<entry key="236" type="xstring" value="biorefinery_bp_manure_insect[tons/tons]"/>
<entry key="237" type="xstring" value="biorefinery_bp_oil-meals_oilcrops[tons/tons]"/>
<entry key="238" type="xstring" value="biorefinery_bp_grains_oilcrops[tons/tons]"/>
<entry key="239" type="xstring" value="biorefinery_bp_grains_cereals[tons/tons]"/>
<entry key="240" type="xstring" value="biorefinery_bp_fodder_cereals[tons/tons]"/>
<entry key="241" type="xstring" value="biorefinery_bp_fodder_oilcrops[tons/tons]"/>
<entry key="242" type="xstring" value="bp_bev_unit[%]"/>
<entry key="243" type="xstring" value="bp_bev_wine_marc[%]"/>
<entry key="244" type="xstring" value="bp_bev_wine_lees[%]"/>
<entry key="245" type="xstring" value="bp_bev_wine_grappes-crop[%]"/>
<entry key="246" type="xstring" value="bp_bev_beer_barley-crop[%]"/>
<entry key="247" type="xstring" value="bp_bev_beer_cereal-meals[%]"/>
<entry key="248" type="xstring" value="bp_bev_beer_yees[%]"/>
<entry key="249" type="xstring" value="bp_bev_bev-fer_barley-crop[%]"/>
<entry key="250" type="xstring" value="bp_bev_bev-alc_fruits-crop[%]"/>
<entry key="251" type="xstring" value="shouse_unit[tons/#]"/>
<entry key="252" type="xstring" value="shouse_bov_afats[tons/#]"/>
<entry key="253" type="xstring" value="shouse_sheep_afats[tons/#]"/>
<entry key="254" type="xstring" value="shouse_pigs_afats[tons/#]"/>
<entry key="255" type="xstring" value="shouse_poultry_afats[tons/#]"/>
<entry key="256" type="xstring" value="shouse_oth-animals_afats[tons/#]"/>
<entry key="257" type="xstring" value="shouse_bov_offal[tons/#]"/>
<entry key="258" type="xstring" value="shouse_sheep_offal[tons/#]"/>
<entry key="259" type="xstring" value="shouse_pigs_offal[tons/#]"/>
<entry key="260" type="xstring" value="shouse_poultry_offal[tons/#]"/>
<entry key="261" type="xstring" value="shouse_oth-animals_offal[tons/#]"/>
<entry key="262" type="xstring" value="shouse_bov_manure[tons/#]"/>
<entry key="263" type="xstring" value="shouse_sheep_manure[tons/#]"/>
<entry key="264" type="xstring" value="shouse_pigs_manure[tons/#]"/>
<entry key="265" type="xstring" value="shouse_poultry_manure[tons/#]"/>
<entry key="266" type="xstring" value="shouse_oth-animals_manure[tons/#]"/>
<entry key="267" type="xstring" value="shouse_dairy_feed[tons/#]"/>
<entry key="268" type="xstring" value="shouse_bov_feed[tons/#]"/>
<entry key="269" type="xstring" value="shouse_sheep_feed[tons/#]"/>
<entry key="270" type="xstring" value="shouse_pigs_feed[tons/#]"/>
<entry key="271" type="xstring" value="shouse_poultry_feed[tons/#]"/>
<entry key="272" type="xstring" value="shouse_oth-animals_feed[tons/#]"/>
<entry key="273" type="xstring" value="energy_unit[TWh/tons]"/>
<entry key="274" type="xstring" value="energy_bov_oil[TWh/tons]"/>
<entry key="275" type="xstring" value="energy_sheep_oil[TWh/tons]"/>
<entry key="276" type="xstring" value="energy_pigs_oil[TWh/tons]"/>
<entry key="277" type="xstring" value="energy_poultry_oil[TWh/tons]"/>
<entry key="278" type="xstring" value="energy_oth-animals_oil[TWh/tons]"/>
<entry key="279" type="xstring" value="energy_bov_gas[TWh/tons]"/>
<entry key="280" type="xstring" value="energy_sheep_gas[TWh/tons]"/>
<entry key="281" type="xstring" value="energy_pigs_gas[TWh/tons]"/>
<entry key="282" type="xstring" value="energy_poultry_gas[TWh/tons]"/>
<entry key="283" type="xstring" value="energy_oth-animals_gas[TWh/tons]"/>
<entry key="284" type="xstring" value="energy_bov_el[TWh/tons]"/>
<entry key="285" type="xstring" value="energy_sheep_el[TWh/tons]"/>
<entry key="286" type="xstring" value="energy_pigs_el[TWh/tons]"/>
<entry key="287" type="xstring" value="energy_poultry_el[TWh/tons]"/>
<entry key="288" type="xstring" value="energy_oth-animals_el[TWh/tons]"/>
<entry key="289" type="xstring" value="energy_bov_diesel[TWh/tons]"/>
<entry key="290" type="xstring" value="energy_sheep_diesel[TWh/tons]"/>
<entry key="291" type="xstring" value="energy_pigs_diesel[TWh/tons]"/>
<entry key="292" type="xstring" value="energy_poultry_diesel[TWh/tons]"/>
<entry key="293" type="xstring" value="energy_oth-animals_diesel[TWh/tons]"/>
<entry key="294" type="xstring" value="energy_bov_petrol[TWh/tons]"/>
<entry key="295" type="xstring" value="energy_sheep_petrol[TWh/tons]"/>
<entry key="296" type="xstring" value="energy_pigs_petrol[TWh/tons]"/>
<entry key="297" type="xstring" value="energy_poultry_petrol[TWh/tons]"/>
<entry key="298" type="xstring" value="energy_oth-animals_petrol[TWh/tons]"/>
<entry key="299" type="xstring" value="conv-factors_cattle_unit[tons/#]"/>
<entry key="300" type="xstring" value="conv-factors_cattle_bov[tons/#]"/>
<entry key="301" type="xstring" value="conv-factors_cattle_sheep[tons/#]"/>
<entry key="302" type="xstring" value="conv-factors_cattle_pigs[tons/#]"/>
<entry key="303" type="xstring" value="conv-factors_cattle_poultry[tons/#]"/>
<entry key="304" type="xstring" value="conv-factors_cattle_oth-animals[tons/#]"/>
<entry key="305" type="xstring" value="conv-factors_cattle_dfish[tons/#]"/>
<entry key="306" type="xstring" value="conv-factors_cattle_ffish[tons/#]"/>
<entry key="307" type="xstring" value="conv-factors_cattle_pfish[tons/#]"/>
<entry key="308" type="xstring" value="conv-factors_cattle_seafood[tons/#]"/>
<entry key="309" type="xstring" value="conv-factors_cattle_oth-aq-animals[tons/#]"/>
<entry key="310" type="xstring" value="slaughter-rate_unit[%]"/>
<entry key="311" type="xstring" value="slaughter-rate_intensive_bov[%]"/>
<entry key="312" type="xstring" value="slaughter-rate_intensive_sheep[%]"/>
<entry key="313" type="xstring" value="slaughter-rate_intensive_pigs[%]"/>
<entry key="314" type="xstring" value="slaughter-rate_intensive_poultry[%]"/>
<entry key="315" type="xstring" value="slaughter-rate_intensive_oth-animals[%]"/>
<entry key="316" type="xstring" value="slaughter-rate_extensive_bov[%]"/>
<entry key="317" type="xstring" value="slaughter-rate_extensive_sheep[%]"/>
<entry key="318" type="xstring" value="slaughter-rate_extensive_pigs[%]"/>
<entry key="319" type="xstring" value="slaughter-rate_extensive_poultry[%]"/>
<entry key="320" type="xstring" value="slaughter-rate_extensive_oth-animals[%]"/>
<entry key="321" type="xstring" value="slaughter-rate_dfish[%]"/>
<entry key="322" type="xstring" value="slaughter-rate_ffish[%]"/>
<entry key="323" type="xstring" value="slaughter-rate_pfish[%]"/>
<entry key="324" type="xstring" value="slaughter-rate_seafood[%]"/>
<entry key="325" type="xstring" value="slaughter-rate_oth-aq-animals[%]"/>
<entry key="326" type="xstring" value="conv-factors_food_unit[kcal/tonnes]"/>
<entry key="327" type="xstring" value="conv-factors_food_bov[kcal/tonnes]"/>
<entry key="328" type="xstring" value="conv-factors_food_sheep[kcal/tonnes]"/>
<entry key="329" type="xstring" value="conv-factors_food_pigs[kcal/tonnes]"/>
<entry key="330" type="xstring" value="conv-factors_food_poultry[kcal/tonnes]"/>
<entry key="331" type="xstring" value="conv-factors_food_oth-animals[kcal/tonnes]"/>
<entry key="332" type="xstring" value="conv-factors_food_offal[kcal/tonnes]"/>
<entry key="333" type="xstring" value="conv-factors_food_egg[kcal/tonnes]"/>
<entry key="334" type="xstring" value="conv-factors_food_milk[kcal/tonnes]"/>
<entry key="335" type="xstring" value="conv-factors_food_afats[kcal/tonnes]"/>
<entry key="336" type="xstring" value="conv-factors_food_stm[kcal/tonnes]"/>
<entry key="337" type="xstring" value="conv-factors_food_tea[kcal/tonnes]"/>
<entry key="338" type="xstring" value="conv-factors_food_coffee[kcal/tonnes]"/>
<entry key="339" type="xstring" value="conv-factors_food_wine[kcal/tonnes]"/>
<entry key="340" type="xstring" value="conv-factors_food_beer[kcal/tonnes]"/>
<entry key="341" type="xstring" value="conv-factors_food_bev-fer[kcal/tonnes]"/>
<entry key="342" type="xstring" value="conv-factors_food_bev-alc[kcal/tonnes]"/>
<entry key="343" type="xstring" value="conv-factors_food_cereals[kcal/tonnes]"/>
<entry key="344" type="xstring" value="conv-factors_food_fruits[kcal/tonnes]"/>
<entry key="345" type="xstring" value="conv-factors_food_oilcrops[kcal/tonnes]"/>
<entry key="346" type="xstring" value="conv-factors_food_pulses[kcal/tonnes]"/>
<entry key="347" type="xstring" value="conv-factors_food_starch[kcal/tonnes]"/>
<entry key="348" type="xstring" value="conv-factors_food_sweet[kcal/tonnes]"/>
<entry key="349" type="xstring" value="conv-factors_food_sugar[kcal/tonnes]"/>
<entry key="350" type="xstring" value="conv-factors_food_voil[kcal/tonnes]"/>
<entry key="351" type="xstring" value="conv-factors_food_veg[kcal/tonnes]"/>
<entry key="352" type="xstring" value="conv-factors_food_dfish[kcal/tonnes]"/>
<entry key="353" type="xstring" value="conv-factors_food_ffish[kcal/tonnes]"/>
<entry key="354" type="xstring" value="conv-factors_food_pfish[kcal/tonnes]"/>
<entry key="355" type="xstring" value="conv-factors_food_seafood[kcal/tonnes]"/>
<entry key="356" type="xstring" value="conv-factors_food_oth-aq-animals[kcal/tonnes]"/>
<entry key="357" type="xstring" value="conv-factors_food_algae-meals[kcal/tonnes]"/>
<entry key="358" type="xstring" value="conv-factors_food_insect-meals[kcal/tonnes]"/>
<entry key="359" type="xstring" value="conv-factors_food_oil-meals[kcal/tonnes]"/>
<entry key="360" type="xstring" value="conv-factors_food_grains[kcal/tonnes]"/>
<entry key="361" type="xstring" value="conv-factors_food_fodder[kcal/tonnes]"/>
<entry key="362" type="xstring" value="land_emission_unit[teqCO2/ha]"/>
<entry key="363" type="xstring" value="land_emission_forest[teqCO2/ha]"/>
<entry key="364" type="xstring" value="land_emission_commercial forest [teqCO2/ha]"/>
<entry key="365" type="xstring" value="land_emission_food[teqCO2/ha]"/>
<entry key="366" type="xstring" value="land_emission_animal[teqCO2/ha]"/>
<entry key="367" type="xstring" value="land_emission_protected-areas[teqCO2/ha]"/>
<entry key="368" type="xstring" value="land_emission_bioenergy[teqCO2/ha]"/>
<entry key="369" type="xstring" value="land_emission_grassland[teqCO2/ha]"/>
<entry key="370" type="xstring" value="enteric_emission_unit[teqCO2/tons]"/>
<entry key="371" type="xstring" value="enteric_emission_bov[teqCO2/tons]"/>
<entry key="372" type="xstring" value="enteric_emission_sheep[teqCO2/tons]"/>
<entry key="373" type="xstring" value="enteric_emission_poultry[teqCO2/tons]"/>
<entry key="374" type="xstring" value="enteric_emission_pigs[teqCO2/tons]"/>
<entry key="375" type="xstring" value="enteric_emission_oth-animals[teqCO2/tons]"/>
<entry key="376" type="xstring" value="manure_emission_unit[teqCO2/tons]"/>
<entry key="377" type="xstring" value="manure_emission_bov[teqCO2/tons]"/>
<entry key="378" type="xstring" value="manure_emission_sheep[teqCO2/tons]"/>
<entry key="379" type="xstring" value="manure_emission_poultry[teqCO2/tons]"/>
<entry key="380" type="xstring" value="manure_emission_pigs[teqCO2/tons]"/>
<entry key="381" type="xstring" value="manure_emission_oth-animals[teqCO2/tons]"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.base.node.meta.looper.variableloopend.VariableLoopEndNodeFactory"/>
<entry key="node-name" type="xstring" value="Variable Loop End"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.6.2.v201811051556"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.6.2.v201811051556"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Variable Loop End"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
